/* General properties */
* {
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	color: white;

	background-color: rgb(77, 126, 96);
}

.nav {
	position: fixed;
	z-index: 100;
  padding: 10px 0px;
  font-size: 15px;
}

.nav div {
	padding: 5px 15px;
	cursor: pointer;
}

.caption {
	font-size: 20px;
}

.description {
	font-size: 10px;
}

/* Header section properties */
header .nav {
	right: 0;

	display: flex;
	justify-content: space-around;
	
	min-width: 20%;
}

/* Main section properties */
.downScroll {
  display: block;
  position: absolute;

  min-width: 90%;

  top: 150px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  color: rgb(86, 86, 86);
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 10px;

  z-index: 500;
}

.layers {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	height: 120vh;
	
	text-align: center;
	overflow: hidden;
}

.layer {
	position: absolute;

	height: 100%;
	width: 100%;

	background-size: cover;
	background-position: center;
}

/* Main section properties. Background layers */
.layer-base {
	background-image: url(https://images2.imgbox.com/3d/28/gVPge1Ww_o.png);

	transform: translate3d(0, calc(var(--scrolling) / 2), 0);
	z-index: 0;
}

.layer-middle {
	background-image: url(https://images2.imgbox.com/57/d4/GaJ8SgA4_o.png);

	transform: translate3d(0, calc(var(--scrolling) / 3), 0);
	z-index: 2;
}

.layer-front {
	background-image: url(https://images2.imgbox.com/26/af/kUsiNsjP_o.png);

	transform: translate3d(0, calc(var(--scrolling) / 6), 0);
	z-index: 3;
}

/* Main section properties. Article layer */
.layer-article {
	min-width: 30%;
	margin-left: auto;
	margin-right: 80px;
	margin-bottom: 200px;

	z-index: 1;
}

.welcome-info {
	display: block;

	font-weight: 900;
	text-transform: uppercase;

	transform: translate3d(0, calc(var(--scrolling) / 2), 0);
}

.about-info {
	display: none;

	font-weight: 900;
	text-transform: uppercase;

	transform: translate3d(0, calc(var(--scrolling) / 2), 0);
}

.contact-info {
	display: none;

	font-weight: 900;
	text-transform: uppercase;

	transform: translate3d(0, calc(var(--scrolling) / 2), 0);
}

/* Footer section properties */
footer .nav {
	bottom: 0;

	left: 50%;
	transform: translateX(-50%);
	
	display: none;
	justify-content: space-around;
	
	min-width: 25%;
}

/* Media queries*/
@media (max-width: 1000px) {
  .nav {
    min-width: 18%;
    font-size: 14px;
  }

  .nav div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .caption {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .nav {
    min-width: 15%;
    font-size: 13px;
  }

  .nav div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .caption {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .nav {
    min-width: 10%;
    flex-direction: column;
    font-size: 12px;
  }

  .nav div {
    padding: 5px;
    text-align: center;
  }

  .caption {
    font-size: 14px;
  }
}